* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

body {
  height: 100%;
  width: 100vw;
  background-color: #1A1A1A;
  overflow-x: hidden;
  
}

